/*Styles the seat booking page*/

*{
    box-sizing: border-box;
}

body{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.container{
    position: relative;
    top: 200px;
    right: 10px;
}

.seat{
    background-color:  #052a5b;
    height: 36px;
    width: 45px;
    margin: 9px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.seat.selected{
    background-color: #f5b000;
}

.seat.occupied{
    background-color: grey;
}

.seat:nth-of-type(2){
    margin-right: 36px;
}

.seat:nth-last-of-type(2){
    margin-left: 36px;
}

.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover{
    cursor:default;
    transform: scale(1);
}

.row {
    display: flex;
    position: relative;
    top: 100px;
    left: 65px;
}

.screen{
    background-color: #fff;
    height: 240px;
    width: 650px;
    margin: 45px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 9px 30px black;
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#title{
    position: relative;
    bottom: 500px;
    left: 80px;
    font-size: 45pt;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#home{
    padding-left: 100px;
}

#book{
    padding-right: 59.5px;
    position: relative;
}

#legend3{
    color: black;
    position: relative;
    top:85px;
    left: 470px;
    margin-bottom: 200px;
    font-size: 20pt;
    font-weight: bold;  
}

#legend2{
    color: black;
    position: relative;
    top: 145px;
    left: 260px;
    font-size: 20pt;
    font-weight: bold;
}

#legend1{
    color: black;
    position: relative;
    top: 200px;
    left: 50px;
    font-size: 20pt;
    font-weight: bold;
    position: relative;
}

#open{
    background-color: #052a5b;
    height: 30px;
    width: 30px;
    position: relative;
    left: 200px;
    bottom: 145px;
}

#chosen{
    background-color: grey;
    height: 30px;
    width: 30px;
    position: relative;
    left: 410px;
    bottom: 190px;
}

#choice{
    background-color: #f5b000;
    height: 30px;
    width: 30px;
    position: relative;
    left: 610px;
    bottom: 240px;
}

#continue{
    position: relative;
    bottom: 200px;
    right: 200px;
    margin-left: 73%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15pt;
    color:white;
    background-color: #052a5b;
}

#theatres{
    position: relative;
    bottom: 310px;
    left: 100px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font-size: 12pt;
    text-align: center;
}

#movies{
    position: relative;
    text-align: center;
    bottom: 300px;
    left: 130px;
    font-size: 15px;
    height: 95px;
    border-radius: 2px;
}
